<div class="about row">

    <section class="page-header">
        <h1 class="project-name">SweetTracker.GitHub.io</h1>
        <h2 class="project-tagline"></h2>
    </section>

        <h3>
          <b>개발자를 위한 배송정보 Open-API</b></h3>
        <p> 스윗트래커에서 제공하는 무료로 사용할 수 있는 배송정보 <b>Open-API</b> 소개 페이지 입니다. </p>
            <a href="http://sweettracker.github.io/history"></a>
        <p> 스마트택배를 포함한 4개의 택배 조회앱을 운영하면서 쌓은 노하우를 담아 택배조회 API를 무료로 공개합니다. 택배 배송정보가 필요한 인디개발자와 스타트업들의 많은 이용을 부탁드립니다. </p>

    <br>
        <h4> Quick-Start! </h4>
        <p> 국내 택배사 38개에 대한 배송정보 연계가 단 하나의 API로 가능하며 사용이 간단합니다.</p>
        <p> 본격적인 서비스를 만들기 전에 사용해 보세요.</P>
    <br>
        <h4>What is ST-OpenAPI?</h4>
        <ul>
            <li><b>ST-OpenAPI</b>는 개발자들에게 손쉽게 배송물류 조회가 가능한 기능을 제공합니다.</li>
            <li><b>ST-OpenAPI</b>는 설치하는 라이브러리가 없습니다.</li>
            <li><b>ST-OpenAPI</b>는 택배사들의 정보 변화에 대한 민감하게 대응합니다.</li>
            <li><b>ST-OpenAPI</b>는 국내 주요 택배사들과 계약관계에 의해 직접 연결되어 있습니다.</li>
            <li><b>ST-OpenAPI</b>는 가장 빠른 택배사 배송정보 연계 솔루션입니다.</li>
            <li><b>ST-OpenAPI</b>는 해외배송업체나 구매대행 서비스를 조회할 수 있습니다.</li>
        </ul>
        <p> 복잡하지 않습니다. 단지, 키를 받으시고,<b> RestFul형태의 API를 호출하세요. </b></p>
<br>
        <h4> Open-API 지원 택배사 목록 </h4>

        <p> ST-OpenAPI를 통해서 지원가능한 택배사 목록 입니다. </P>
    <a href="https://docs.google.com/spreadsheets/d/1fJKGZp0mrUz16H8pqwckTjqRvbbObbIi88tA35HV0OU/edit?usp=sharing">클릭</a>
        <P> 지속적으로 해외 배송업체들과 쇼핑몰들과의 연계가 확장되고 있습니다. </P>

        <p> (주) 스윗트래커에서 제공하는 '배송정보연계 서비스'는 국내의<b> 쇼핑몰( 티몬, 롯데홈쇼핑, GSShop, 홈앤쇼핑, 공영홈쇼핑 등 )과 포털 서비스(네이버, 카카오)</b>에서 사용하고 있습니다. </p>

        <div align="right"><p> 스윗트래커의 개발자지원 페이지</P> <p> <a href="http://www.sweettracker.co.kr">스윗트래커 홈페이지</a></P> </div>

</div>
